body{
	font-family: 'Montserrat', sans-serif;
	background-color: #bcbcbc;
}

h1{
	text-align: center;
}

h2{
	font-size: 1.7em;
	margin: .83em 0;
	display: block;
	width: 100%;
	text-align: center;
	letter-spacing: .12em;
}

button{
	margin: auto;
}

form{
	text-align: center;
}

.artist-tile{
	position: relative;
	width: 30%;
	height: 155px;
	background-color: #fff;
	color: #000;
	display: inline-flex;
	background-repeat: no-repeat;
	margin: auto;
	margin-bottom: 20px;
	padding: 10px 5px;
	background-size: 100px 100px;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );

}

.artist-tile-back{
position: absolute;
width: 100%;
height: inherit;
z-index: 1;
left: 0px;
top: 0px;
opacity: .3;
}

.artist-tile-info{
	z-index: 999;
display: inline;
}
.artist-name{/*
	background-color: rgba(255,255,255,.4);*/
	width: 100%;
	text-align: center;
	letter-spacing: -1px;
	display: inline-block;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.69);
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	font-weight: bold;
}

.playcount{
	width: 100%;
	display: inline-block;
	letter-spacing: 0px;
	font-family: 'Oxygen Mono';
	font-size: 10pt;
	text-align: center;
}

#find-user{
	margin: 10px 20px;
}